*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
}

body {
  margin: 0;
  background: #1c1c1c;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-align: center;
}

/* typography */

p{
  font-size: .75em;
  color: #D5D4D8;
  text-transform: uppercase;
}

h4{
  margin-top: 20px;
  font-weight: 300;
}

/* layout */

.container {
  margin: 20px auto 20px;
  background: #1f2937;
  width: 90%;
  max-width: 550px;
  height: 555px;
  border-radius: 5px;
}

header {
  min-height: 90px;
  padding: 24px 12px;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 4px;
  justify-content: space-between;
}
main {
  height: 460px;
  display: flex;
}

/* UI elements */


#colour-picker {
  height: 43px;
  width: 61px;
  border-radius: 4px;
}

#user-hex-display {
  background: transparent;
  text-transform: uppercase;
  color: white;
  text-align: center;
  height: 43px;
  width: 6em;
  font-weight: 400;
  font-size: 1em;
  border: 2px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

select{
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='36' viewBox='0 0 24 24' width='36' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}

#scheme-select {
  /* text-align: center; */
  height: 43px;
  width: 205px;
  color: white;
  font-weight: 400;
  font-size: 1em;
  padding: 9px 13px;
  border: 2px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

#btn-submit {
  height: 43px;
  background: #3d4b60;
  color: white;
  font-size: 0.75em;
  font-weight: 500;
  padding: 0 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 2px solid #3d4b60;
  border-radius: 4px;
  transition: ease-in 100ms;
}

#btn-submit:hover,
#btn-submit:active {
  background: #1f293a;
  border: 2px solid #d1d5db;
}

/* colour bars  */

.colour-div {
  width: 20%;
}

.colour-bar {
  height: 414px;
}

.colour-hex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  
}

.colour-hex button {
  background-color: #1f2937;
  text-transform: uppercase;
  color: white;
  font-size: 0.75em;
  font-weight: 500;
  padding: 5px 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 2px solid #3d4b60;
  border-radius: 4px;
  transition: ease-in-out 100ms;
}

 .colour-hex button:hover, .colour-hex button:active {
  border: none;
  background: #3d4b60;
  
}



@media (max-width: 600px){

  .container{
    width: 100%;
    /* height: 80%; */
    border-radius: 0;
    margin: 0;
  }

  header {
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
  }

  #colour-picker {
    width: 100%;
    
  }
 

  header p{
    font-size: 1em;
    margin: 0;
  }

  main {
    flex-direction: column;
    
  }
  .colour-div {
    width: 100%;
    display: flex;
    
  }
  
  .colour-bar {
    width: 67%;
    height: 82px;
    
  }

  .colour-hex{
    width: 33%;
    height: 82px;
  }

  
 
}